.test{
    /*background-color: blue;*/
    border-style: solid;
    border-width:1px;
}

body{
}

.common{
    width:100%;
}

.blockOne{
    height:18vh;
}

.header{
    height:9vh;
}

.footer{
    height:9vh;
}

#phoneScreen{
    width:63.5vh;
    height:90vh;
    margin: auto;
}

#logoBox{
    margin: 1vh;
    height: 7vh;
    width: 7vh;
    float: left;
    position: relative;
}

#loginBox{
    margin: 1vh;
    height: 7vh;
    width:20vh;
    float:right;
    position: relative;
}

#midSection{
    width:100%;
}

#roleBox{
    margin: auto;
    margin-top: 1em;
    height: 7vh;
    width:20vh;
    position: relative;
}